@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  /*height: 100vh; /* 100% da altura da tela */
  box-sizing: border-box; /*Não deixa os componentes dentro do body sairem dele*/
  background-color: #000000;
  color: #f6f6f6;
}

.titulo-destaque {
  color: #22d4fd;
}

.apresentacao {
  margin: 10%;
  display: flex; /*Para implementar a flexbox na página, essa propripedade deve ser colocada no elemento pai (flexbox)*/
  align-items: center; /*Alinha os itens no centro em relação ao item de maior altura (flexbox)*/
  justify-content: center;
  gap: 100px;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column; /*Alinha os itens em coluna (flexbox)*/
  gap: 40px; /*Espaçamento entre os itens (flexbox)*/
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: "Krona One", serif;
}

.apresentacao__conteudo__texto {
  font-size: 24px;
  font-family: "Montserrat", serif;
}

.apresentacao__links {
  display: flex;
  justify-content: space-between;
}

.apresentacao__links__link {
  background-color: #22d4fd;
  width: 280px;
  text-align: center; /*Alinhando o texto dentro do botao*/
  border-radius: 16px; /*Deixa as bordas do botão arredondadas*/
  font-size: 24px;
  padding: 21.5px 0; /*Espaçamento interno do botão*/
  text-decoration: none;
  color: #000000;
  font-family: "Montserrat", serif;
  font-weight: 600;
}

.apresentacao__imagem {
  width: 488px;
  border-radius: 300px;
}
